body {
	margin: 0px;
	border: 0px;
	background-image: url(../images/MusicMixerBG.jpg);
	color:#333333;
	font-family: 'Rock Salt', cursive;
	font-size: 40px;
}

.hidden {
	display: none;
}

header {
	position: absolute;
	top: 20px;
	margin: 0px auto;
	text-align: center;
	margin-top: 14px;
	left: 800px;
}

h1 {
	margin: 0;
	font-size: 30px;
}
h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
	margin-top: 16px;
}

#instrumentBoard {
	display: inline-flex;
	margin-top: 80px;
}


.iconsDropZone {
	height: 840px;
	width: 171px;
	padding-left: 1161px;
}


.LIcons {
	width: 185px;
	margin-left: 113px;
	display: flex;
	flex-direction: column;
	height: 835px;
	justify-content: space-between;
}
.RIcons {
	margin-left: 29px;
	display: flex;
	flex-direction: column;
	height: 837px;
	justify-content: space-between;
}

#bass, #drums, #guitar, #keyboard, #synth {
	display: block;
	width: 151px;
	cursor: pointer;
}
#bongos, #clave, #horn, #melodica, #trumpet {
	display: block;
	width: 151px;
	cursor: pointer;
}

#keyboard {
	margin-top: 20px;
}

#melodica {
	max-width: 104px;
}
.audioSamplescontrols {
	display: flex;
	/*! justify-content: center; */
	margin-top: 10px;
	margin-left: 171px;
}
.audio-controls {
	display: flex;
	/*! justify-content: end; */
	margin-top: 10px;
	margin-left: 1184px;
}

.dropZone {
	display: flex;
	width: 175px;
	height: 150px;
	margin-top: 14px;
}

.one {
  margin: 0
}

.three {
	margin-top: 30px;
}
.four {
	margin-top: 15px;
}
.five {
	margin-top: 20px;
}

.Zoneone, .Zonetwo, .Zonothree, .Zonefour, .Zonefive {
	display: flex;
	width: 169px;
	height: 151px;
}
.Zonesix, .Zoneseven, .Zoneeight, .Zonenine, .Zoneten {
	display: flex;
	width: 169px;
	height: 151px;

}

.IconCont {
	display: flex;
}
.goBack {
	display: flex;
	text-decoration: none;
	font-family: 'Rock Salt', cursive;
	font-weight: 500;
  font-size: 20px;
	margin-top: 16px;
	/*! align-content: center; */
	justify-content: center;
	margin-bottom: 16px;
	/*! position: absolute; */
}

.buttons {
	cursor: pointer;
	margin-right: 5px;
	background-color: #f2f2f2;
	border: 2px solid #00792d;
	color: #4d4d4d;
	text-align: center;
	width: 80px;
}

.controls {
	display: flex;
}
